.modalBackground {
  width: 100vw;
  height: 100vh;
  /*background-color: rgba(102, 0, 0, 0.811);*/
  background-image: url("D:\GitHub\licenta\client\src\Pictures\abstract-cool-material-8k-c7-1920x1080.jpg");
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  left: 0;
  top: 0;
}

.modalContainer {
  width: 25.5rem;
  height: 29rem;
  border-radius: 0rem 0.6rem 6rem 0.2rem;
  background-color: rgba(42, 42, 42, 0.992);
  box-shadow: rgb(0, 0, 0) 0rem 0.01rem 1.4rem 0.08rem;
  display: flex;
  flex-direction: column;
  padding-bottom: 0.4rem;
  animation: blowUpModal 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  border-bottom:  1rem solid rgba(31, 255, 236, 0.719);
  position: absolute;
}

@keyframes blowUpModal {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes blowUpModalTwo {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
@keyframes blowUpContent {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  99.9% {
    transform: scale(2);
    opacity: 0;
  }
  100% {
    transform: scale(0);
  }
}

@keyframes blowUpContentTwo {
  0% {
    transform: scale(0.5);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.modalLogin {
  display: flex;
  flex-direction: column;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.modalRegister {
  display: flex;
  flex-direction: column;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.title {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;

}

.modalLogin .title h1{
  color:rgba(255, 255, 255, 0.808);
  font-size: 1.9rem;
  margin: 0;
  position: relative;
  padding-top:0.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modalRegister .title h1{
  color:rgba(255, 255, 255, 0.808);
  font-size: 1.9rem;
  margin: 0;
  position: relative;
  padding-top:0.8rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modalLogin .form{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  flex-wrap: wrap;
  padding-top: 1.7rem;
  font-family:'Times New Roman', Times, serif;
}

.modalRegister .form{
  display:flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  bottom: 1.5rem;
  padding-top: 1.7rem;
}

.form input {
  display: flex;
  position:relative;
  width: 19rem;
  height: 2rem;
  border: 0;
  background-color: transparent;
  font-size: 1.2rem;
  /*box-shadow:rgba(220, 220, 220, 0.55) 0.4rem 0.rem 0.7rem 0rem;*/
  padding-left: 0.5rem;
  color:rgba(203, 255, 234, 0.912);
  border: none;
  border-bottom: 0.05rem solid rgb(255, 255, 255);
  border-bottom-right-radius: 0.3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form input[type="text"]:focus {
  outline:none;
  max-width: 100%;
  width: 18rem;
  transition: ease-in-out, width .1s ease-in-out;
  border-bottom: 0.08rem solid rgb(202, 103, 255);
}

.form input[type="password"]:focus {
  outline:none;
  max-width: 100%;
  width: 18rem;
  transition: ease-in-out, width .1s ease-in-out;
  border-bottom: 0.08rem solid rgb(202, 103, 255);
}

.modalContainer .closeButton{
  display: flex;
  justify-content: flex-end;
}

.modalContainer .closeButton button{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: transparent;
  border: none;
  font-size: 1.3rem;
  position: relative;
  right: 0.4rem;
  top: 0.2rem;
  cursor: pointer;
  color: rgba(188, 255, 242, 0.96);
}

.modalContainer .closeButton button:hover {
  color: rgb(0, 225, 255);
}

.modalLogin .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalLogin .footer {
  flex: 20%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  top: 2rem;
}

.form {
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.form label {
    color: rgba(255, 255, 255, 0.808);
    display: flex;
    position: relative;
    bottom: 0.5rem;
    padding-top: 1.8rem;
    font-size: 1.1rem;
    align-self: flex-start;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.form button {
    width: 25%;
    height: 45%;
    font-size: 1rem;
    justify-content: center;
    align-items: center;
}

.modalLogin .footer button:hover {
  color: rgb(129, 50, 255);
  background-color:rgba(245, 245, 245, 0.937);
  width: 9.8rem;
  transition: all 0.2s;
}

.modalRegister .footer button:hover {
  color: rgb(129, 50, 255);
  background-color:rgba(245, 245, 245, 0.937);
  width: 9.8rem;
  transition: all 0.2s;
}

.modalRegister .body {
  flex: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.7rem;
  text-align: center;
}

.modalRegister .footer {
  flex: 20%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  position: relative;
  bottom: 1.6rem;
  bottom: 0.5rem;
}

.modalLogin .footer {
  position: relative;
  bottom: 1.2rem;
}

.modalLogin .form a {
  display: flex;
  align-self: flex-start;
  position: relative;
  top: 1rem;
  font-size: 0.7rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  text-decoration: none;
  color:rgba(204, 202, 202, 0.737);
  cursor: pointer;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.modalLogin .footer button {
  width: 9.5rem;
  height: 3rem;
  margin: 0.6rem;
  border: none;
  background-color: rgba(129, 50, 255, 0.934);
  color:white;
  border-radius: 0rem 0.6rem 0rem 0.6rem;
  font-size: 1.3rem;
  cursor: pointer;
  position:relative;
  top: 1.9rem;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.modalRegister .footer button {
  width: 9.5rem;
  height: 3rem;
  margin: 0.6rem;
  border: none;
  background-color: rgba(129, 50, 255, 0.934);
  color:white;
  border-radius: 0rem 0.6rem 0rem 0.6rem;
  font-size: 1.3rem;
  cursor: pointer;
  position: relative;
  top: 0.1rem;
}

.modalLogin .footer a {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0.3rem;
  top: 1rem;
  text-decoration: none;
  color: rgba(172, 255, 231, 0.857);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
}

.modalLogin .footer p {
  font-size: 0.95rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  top: 1rem;
  color: rgba(222, 222, 222, 0.852);
}

.modalRegister .footer p {
  font-size: 0.95rem;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: bold;
  display: flex;
  position: relative;
  bottom: 0.7rem;
  color: rgba(222, 222, 222, 0.852);
}

.modalRegister .footer a {
  font-size: 0.9rem;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  left: 0.3rem;
  bottom: 0.7rem;
  text-decoration: none;
  color: rgba(172, 255, 231, 0.857);
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  cursor: pointer;
}

.modalLogin .footer #line {
  display: flex;
  color:rgb(31, 155, 149);
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width: 0.1rem;
  width: 85%;
  position:relative;
  top: 2rem;
  border-radius: 100%;
}

.modalRegister .footer #line {
  display: flex;
  color:rgb(31, 155, 149);
  margin-left: auto;
  margin-right: auto;
  border-style:solid;
  border-width: 0.1rem;
  width: 85%;
  position:relative;
  top: 0.2rem;
  border-radius: 100%;
}

.openModal {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  align-content: center;
  text-align: center;
  position: absolute;
  background-image: url("D:\GitHub\licenta\client\src\Pictures\abstract-cool-material-8k-c7-1920x1080_2.jpg");
  left: 0;
  top: 0;
}

.openModal .headingOpenModal {
  color: rgba(240, 255, 255, 0.885);
  position: relative;
  right: 22rem;
  top:23rem;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}
.openModal .headingOpenModal2 {
  color: rgba(240, 255, 255, 0.885);
  position: relative;
  top:22rem;
  right: 22rem;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.openModal .openModalBtn {
  width: 7rem;
  height: 3rem;
  border-top-left-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  background-color: rgba(137, 43, 226, 0.889);
  border: none;
  color: rgba(255, 255, 255, 0.833);
  font-size: large;
  position: relative;
  right: 22rem;
  top:23rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
}

.openModal .openModalBtn:hover{
  background-color: rgb(236, 236, 236);
  color: blueviolet;
  cursor: pointer;
  width: 9rem;
  transition: all 0.5s;
}

/* ---------------------------- D3 ---------------------------------*/

.test{
    color:rgb(204, 204, 204);
    
}

body {
    margin:0;
    padding: 0;
}

.App{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.952);
}
/* ------------------------------- */

#app {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 93vh;
  background-color: transparent;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  top: 7vh;
  flex-direction: column;
  align-self: flex-start;
}

#app1 {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 93vh;
  background-color: transparent;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  top: 7vh;
  flex-direction: column;
  align-self: flex-start;
}

#chart {
  position: relative;
  width: auto;
  height: auto;
  padding: 1rem;
}

#chart,
#data {
  display: flex;
}

#data {
  position: relative;
  display: flex;
  width: auto;
  height: auto;
}

#data ul {

  left: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

#data li {
  margin-bottom: 0.2rem;
  padding: 0.3rem;
  width: 1.5rem;
  height: 1.5rem;
  align-content: center;
  font-weight: bold;
  color: rgb(83, 83, 83);
  background-color: rgb(255, 255, 255);
  border-radius: 5%;
  margin-left: 1rem;
  border-style: groove;
  position: relative;
}
#data input {
 width: 0.9rem;
 height: 0.9rem;
 position:relative;
}

.bar {
  fill: rgba(136, 132, 160, 0.693);
}

#app .label {
  fill: #cdcdcd;
  font-size: 0.7rem;
}

.test{
  fill: rgba(200, 115, 35, 0.919);
  font-size: 2px;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  
}

.AppMainPage {
  width: 100%;
  height: 100%;
  /* background-image: url("D:\GitHub\licenta\client\src\Pictures\stretched-1920-1080-1246601.jpg"); */
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  background-image: url("D:\GitHub\licenta\client\src\Pictures\abstract-shape-cards-5k-z0-1920x1080.jpg");
  position: absolute;
  display: flex;
  flex-direction: column;
}

.AppMainPage #app{
  display: flex;
  align-self: flex-end;
}

#dd {
position: relative;
display: flex;
justify-content:center;
align-content:center;
align-items: center;
}

#dd svg {
align-items: center;
align-content: center;
justify-content: center;
position: relative;
display: flex;
width: 43.5vw;
height: 88.8vh;
border-radius: 100%;
/* box-shadow: rgba(0, 0, 0, 0.533) 0rem 0.01rem 4.8rem 0.08rem; */
box-shadow: rgba(42, 42, 42, 0.734) 0rem 0.01rem 3.9rem 0.08rem;
}

#piechart {
  position: relative;
  display: flex;
  justify-content:center;
  align-content:center;
  align-items: center;
  padding-left: 5rem;
  }
  
#piechart svg {
  align-items: center;
  align-content: center;
  justify-content: center;
  position: relative;
  display: flex;
  width: 45vw;
  height: 65vh;
  margin: 0 auto;
  box-shadow: rgba(0, 0, 0, 0.533) 0rem 0.01rem 4.8rem 0.08rem;
  padding-top: 2rem;
  padding-left: 3rem;
  border-radius: 5rem;
  background-color: #e9e9e90a;
  }

.navbar {
  height: 7vh;
  background: rgba(2, 4, 26, 0.801);
  display: flex;
  align-items: center;
  border-bottom-left-radius: 2.5rem;
  border-bottom-right-radius: 2.5rem;
  border-top-left-radius: 0.2rem;
  border-top-right-radius: 0.2rem;
  width: 100%;
  align-self: flex-start;
}

.navbar-logo {
  color: rgba(235, 235, 235, 0.87);
  text-decoration: none;
  font-size: 2.3rem;
  display: flex;
  align-items: center;
  width: 9rem;
  justify-content: flex-start;
  position: relative;
  flex: 20%;
  margin-left: 2rem;
  margin-top: 0.6rem;
}

.navbar-logo:hover {
  color:rgb(253, 253, 253);
}


.nav-items {
  flex:80%;
  display: flex;
  justify-content: flex-end;
  margin-right: 1rem;
}

.nav-item {
  display: flex;
  list-style: none;
  margin-left: 0.9rem;
}

.nav-item button {
  background-color: transparent;
  border: none;
  width: auto;
  height: 5vh;
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  border-radius: 0.5rem;
  transition: 0.1s all ease-out;
}

.nav-item button:hover {
  color: rgb(178, 255, 231);
  background-color: rgba(157, 157, 157, 0.248);
  font-family:'Times New Roman', Times, serif;
}

.nav-item span {
  margin-left: 0.4rem;
  font-size: 1.2rem;
}

.btn {
  background: rgba(220, 51, 51, 0.826);
  border: none;
  border-radius: 0.5rem;
  width: 2.5rem;
  height: 2rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.3s all ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(226, 226, 226);
  margin-right: 1.5rem;
}

.btn:hover {
  background: rgb(226, 226, 226);
  color: rgba(225, 16, 16, 0.756);
}

.pushBtn {
  background: rgba(255, 255, 255, 0.303);
  border: none;
  border-radius: 3.1rem;
  border-bottom-left-radius: 0rem;
  border-top-left-radius: 0rem;
  width: 4.5rem;
  height: 1.7rem;
  font-size: 1rem;
  cursor: pointer;
  transition: 0.2s all ease-out;
  display: flex;
  align-items: center;
  justify-content: center;
  color: whitesmoke;
  margin-right: 1.5rem;
  border-left: solid 0.3rem red;
}

.pushBtn.active {
  color: whitesmoke;
  border-left: solid 0.7rem rgba(0, 239, 155, 0.778);
}

.pushBtn.active:hover {
  color: rgb(4, 255, 155);
}

.pushBtn:hover {
  color: rgb(255, 67, 67);
}

.addBtn{
  background: transparent;
  width: 6rem;
  height: 1.7rem;
  border: none;
  border-radius: 0.5rem;
  border-bottom-right-radius: 0rem;
  border-top-right-radius: 0rem;
  font-size: 0.9rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(226, 226, 226);
  overflow: hidden;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.addBtn::before {
  background-color: rgba(245, 245, 245, 0.179);
  content: '+ Add';
  width: 5rem;
  height: 1.7rem;
  border: none;
  border-radius: 0.5rem;
  font-size: 1.3rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(250, 250, 250);
  margin-right: 1.5rem;
  overflow: hidden;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.addBtn:hover::before
{
  background-color: rgba(128, 128, 128, 0.218);
  color: rgb(54, 255, 188);
}

a {
  text-decoration: none;
}

.sidebar-toggle {
  display: flex;
  flex: 80%;
  justify-content: flex-end;
  margin-right: 2rem;
}

.sidebar-toggle-logo {
  font-size: 2rem;
  color: whitesmoke;
}

.sidebar-toggle-logo:hover {
  color: rgb(129, 255, 228);
  cursor: pointer;
}

.sidebar{
  width: 11rem;
  background: rgba(2, 4, 26, 0.801);
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
  height: 88vh;
  transition: 0.3s all ease-in-out;
  display: flex;
  flex-direction: column;
  position: relative;
  left: -100%;
  justify-content: center;
  margin-top: 0.6rem;
}

.sidebar.active {
  left: 0;
  display: flex;
}

.sidebar-items {
  text-decoration: none;
  display: flex;
  flex-direction: column;
  border-radius: 0.5rem;
  transition: 0.1s all ease-out;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
}

.sidebar-item {
list-style: none;
margin-top: 1rem;
height: 5rem;
display: flex;
justify-content: center;
margin: 0;
}

.sidebar-item a {
  text-decoration: none;
  color: whitesmoke;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.1rem;
  height: 4rem;
  width: 90%;
  border-radius: 1.7rem;
  cursor: pointer;
  transition: 0.2s all ease-out;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.sidebar-item span {
  margin-left: 0.5rem;
}

.sidebar-item a:hover {
  background-color: rgba(255, 255, 255, 0.157);
  color: rgb(178, 255, 231);
  font-family:'Times New Roman', Times, serif;
}

.sidebar .btn {
  margin-top: 2.4rem;
  width: 100%;
}

.sidebar .pushBtn {
  margin-top: 2.4rem;
  width: 100%;
}

@media screen and (max-width: 50rem) {
  .sidebar.active {
    width: 4rem;
    border-top-right-radius: 1.5rem;
  }

  .sidebar-item a span {
    display:none;
  }

  .sidebar.active .btn {
    width: 4rem;
  }

  .sidebar.active .pushBtn {
    width: 4rem;
  }

  .sidebar.active .addBtn::before {
    width: 4rem;
  }

  .sidebar.active .addBtn {
    width: 4rem;
  }

  .navbar{
    border-bottom-left-radius: 0rem;
  }

  #app {
    width: 90%;
  }
}

@media screen and (max-width: 71.25rem){
  .navbar {
    border-bottom-left-radius: 0rem;
  }

  #app {
    width: 80%;
  }

  .sidebar .addBtn {
    width: 11rem;
    border-radius: 0.7rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    align-self: center;
    height: 1.6rem;
  }

  .sidebar .addBtn::before {
    background-color: rgba(245, 245, 245, 0.044);
    width: 11rem;
    border-radius: 0.7rem;
    border-bottom-left-radius: 0rem;
    border-bottom-right-radius: 0rem;
    height: 1.6rem;
  }

  .sidebar .pushBtn {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-top: 0rem;
    border-left: none;
    border-top: solid 0.3rem red;
    background-color: rgba(245, 245, 245, 0.094);
    height: 1.6rem;
  }

  .sidebar .pushBtn.active {
    border-top-right-radius: 0rem;
    border-bottom-left-radius: 0.8rem;
    border-bottom-right-radius: 0.8rem;
    margin-top: 0rem;
    border-left: none;
    border-top: solid 0.4rem rgba(0, 239, 155, 0.778);
    background-color: whitesmoke;
    background-color: rgba(245, 245, 245, 0.094);
    height: 1.6rem;
  }
}

.mama {
  display: flex;
  align-items: center;
  justify-content: center;
  color:rgb(171, 27, 27);
  font-size: 14rem;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  font-size: 4rem;
}

.ChartBody {
  display: flex;
  flex-direction: row;

}

.logo-app {
  margin-right: 0.4rem;
  font-size: 3.3rem;
  color: rgb(31, 255, 206);
  border-radius: 100%;
  box-shadow: rgba(187, 255, 225, 0.623) 0rem 0.01rem 0.35rem 0.08rem;
}

.openModal .logo-openModal-app {
  font-size: 33rem;
  color: rgba(35, 255, 189, 0.568);
  border-radius: 100%;
  box-shadow: rgba(0, 0, 0, 0.334) 0rem 0.01rem 2.35rem 0.08rem;
  position: relative;
  bottom: 7rem;
  left: 24rem;
  display: flex;
}

@media (prefers-reduced-motion: no-preference) {
  .logo-app{
    animation: logo-app-spin infinite 12s linear;
  }

  .openModal .logo-openModal-app {
    animation: logo-app-spin infinite 19s linear;
  }
}

@keyframes logo-app-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.UploadFilePageBackground{
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 100%;
  height: 93vh;
  background-color: rgba(207, 207, 207, 0.52);
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  top: 7vh;
  flex-direction: row;
  align-self: center;
}

.UploadFilePageContainer{
  position: relative;
  width: 18vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.967);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0rem 0.01rem 0.9rem 0.5rem;
  border-radius: 0.1rem;
  border-top-left-radius: 7.5rem;
  margin-right: 0.6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-top:  0.5rem solid rgb(208, 36, 220);
  border-bottom:  0.3rem solid rgb(208, 36, 220);
}

.UserBackgroundMenu {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 0;
  width: 65%;
  height: 93vh;
  background-color: transparent;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  top: 7vh;
  flex-direction: row;
  align-self: center;
}

.UserContainer {
  position: relative;
  width: 18vw;
  height: 70vh;
  background-color: rgba(255, 255, 255, 0.967);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0rem 0.01rem 0.9rem 0.5rem;
  border-radius: 0.1rem;
  border-top-left-radius: 7.5rem;
  margin-right: 0.6rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-top:  0.5rem solid rgb(208, 36, 220);
  border-bottom:  0.3rem solid rgb(208, 36, 220);
}

.UserSecondContainer {
  position: relative;
  width: 38vw;
  height: 67vh;
  background-color: rgba(255, 255, 255, 0.967);
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  box-shadow: rgb(0, 0, 0) 0rem 0.01rem 0.9rem 0.9rem;
  border-radius: 0.1rem;
  border-bottom-right-radius: 7.5rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  border-bottom:  0.5rem solid rgba(87, 31, 255, 0.719);
}

.userLogoContainer {
  display: flex;
  position: relative;
  width: 12rem;
  height: 12rem;
  align-items: center;
  justify-content: center;
  align-content: center;
  flex-direction: column;
  margin-bottom: 0.5rem;
  margin-top: 1rem;
  background-image: url("D:\GitHub\licenta\client\src\Pictures\pngtree-user-icon-isolated-on-abstract-background-png-image_5192004.jpg");
  background-size: 12rem;
  border-radius: 100%;
}

.userLabelLogo {
  position: relative;
  width: 2rem;
  height: 3vh;
  color: rgba(59, 0, 108, 0.839);
  border-radius: 100%;
}

.UserContainer #line-user {
  display: flex;
  color:rgb(118, 118, 118);
  background-color: rgb(118, 118, 118);
  width: 97%;
  position:relative;
  border: none;
  height: 0.06rem;
}

.UserSecondContainer #line-user {
  display: flex;
  color:rgb(118, 118, 118);
  background-color: rgb(118, 118, 118);
  width: 100%;
  position:relative;
  border: none;
  height: 0.07rem;
  bottom: 0.6rem;
}

.currentUserData {
  display: flex;
  position: relative;
  width: 60%;
  height: auto;
  background-color: transparent;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.currentUserDataItems {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  margin-bottom: 0.5rem;
}

.currentUserDataItems label {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 1.1rem;
  color: #6d028a;
  padding-left: 0.5rem;
  display: flex;
  flex-direction: row;
}

.userInfoContainer {
  width: 80%;
  height: auto;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  align-content: center;
  position: relative;
  align-self: center;
}

.userInfoContainer h2 {
  color: rgba(53, 53, 53, 0.934);
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-size: 1.3rem;
  position: relative;
  margin-bottom: 3rem;
}

.userInfoContainer label {
  display: flex;
  position: relative;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
  margin-bottom: 1rem;
  color: rgb(66, 66, 66);
}

.userInfoContainer input {
  display: flex;
  position: relative;
  width: 16vw;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: transparent;
  font-size: 1.2rem;
  color:rgba(64, 64, 64, 0.912);
  border: none;
  border-bottom: 0.09rem solid rgb(55, 55, 55);
  border-bottom-right-radius: 0.3rem;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.userInfoContainer input[type="text"]:focus {
  outline:none;
  max-width: 100%;
  width: 18rem;
  transition: ease-in-out, width .1s ease-in-out;
  border-bottom: 0.1rem solid rgb(202, 103, 255);
}

.userInfoContainer button {
  width: 6rem;
  height: 2.5rem;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
  background-color: rgba(83, 43, 226, 0.889);
  border: none;
  color: rgba(255, 255, 255, 0.945);
  font-size: 1rem;
  position: relative;
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  animation: blowUpContentTwo 0.5s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
  margin-bottom: 3rem;
}

.userInfoContainer button:hover {
  background-color: rgba(57, 39, 223, 0.733);
  color: rgb(255, 255, 255);
  width: 7rem;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.userInfoItems {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  position: relative;
  align-content: center;
  margin-left: 2rem;
  margin-bottom: none;
  padding-bottom: none;
  background-color: transparent;
}

.userInfoItems button {
  margin-right: 1rem;
  border: none;
  height: auto;
  background-color: transparent;
  height: 2rem;
  width: auto;
  font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: large;
}

.userInfoItems button:hover {
 border-bottom: 0.2rem solid rgb(63, 73, 255);
 cursor:pointer;
}

.tableGrid {
  width: 100vw;
  height: 100vh;
  position: relative;
  background-color: #e3e3e3;
}