.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(29, 29, 29);
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

.modalContainer {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: whitesmoke;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modalLogin {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.modalRegister {
    width: 300px;
    height: 300px;
    border-radius: 12px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.title {
    display: inline-block;
    text-align: center;
    margin-top: 10px;
}

.modalLogin .title h1{
    color:black;
}

.modalRegister .title h1{
    color:black;
}

.form input {
    width: 45%;
    height: 20%;
}

.modalContainer .closeButton {
    display: flex;
    justify-content: flex-end;
}

.modalContainer .closeButton button{
    background-color: transparent;
    border: none;
    font-size: 11px;
    cursor: pointer;
}

.modalLogin .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalLogin .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .form label {
      font-size: 13px;
  }

  .form button {
      width: 25%;
      height: 45%;
      font-size: 9px;
      justify-content: center;
      align-items: center;
  }

.modalRegister .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalRegister .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
}



.modalContainer .footer button {
    width: 100px;
    height: 35px;
    margin: 10px;
    border: none;
    background-color: cornflowerblue;
    color:white;
    border-radius: 8px;
    font-size: 15px;
    cursor: pointer;
    
}

.modalContainer .footer a {
    font-size: 10px;
    
}

#cencelButton {
    background-color: red;
}

.openModal {
    align-content: center;
    justify-content: center;
    text-align: center;
}

.openModal h1{
    color: rgba(240, 255, 255, 0.885);
}


html {
    background-color: rgb(29, 29, 29);
}