.modalBackground {
    width: 100vw;
    height: 100vh;
    background-color: rgb(35, 35, 35);
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    left: 0;
    top: 0;
}

.modalContainer {
    width: 31rem;
    height: 33rem;
    border-radius: 1rem;
    background-color: rgb(235, 235, 235);
    box-shadow: rgba(190, 190, 190, 0.55) 0rem 0.1rem 0.99rem;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.modalLogin {   
    display: flex;
    flex-direction: column;
}

.modalRegister {
    display: flex;
    flex-direction: column;
}

.title {
    display: flex;
    align-items: center;
    justify-content: center; 
    text-align: center;
    margin-top: 0.6rem;
    font-size: medium;
}

.modalLogin .title h1{
    color:rgb(44, 44, 44);
}

.modalRegister .title h1{
    color:rgb(44, 44, 44);
}

.form{
    display:flex;
    flex-direction: column;
    align-items: center;
    
  }

.form input {
    display: flex;
    position:relative;      
    width: 17rem;
    height: 2rem;
    border: 0;
    border-bottom:0.1rem solid #555;  
    background: transparent;
    font-size: 1.2rem;
    color:rgb(74, 74, 74); 
}

.form input:focus {
    border:none;	
    outline:none;
    border-bottom:0.1rem solid #e74c3c;
    max-width: 100%;
    width: 20rem;
}

.modalContainer .closeButton {
    display: flex;
    justify-content: flex-end;
}

.modalContainer .closeButton button{
    background-color: transparent;
    border: none;
    font-size: 1.1rem;
    cursor: pointer;
}

.modalLogin .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalLogin .footer {
    flex: 20%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 3rem;
    flex-wrap: wrap;
}

.form label {
      color: rgb(44, 44, 44);
      display: flex;
      padding-top: 2.4rem;     
      font-size: 1.2rem;
	  transition: all 0.5s ease-in-out;
  }

  .form button {
      width: 25%;
      height: 45%;
      font-size: 9px;
      justify-content: center;
      align-items: center;
  }

.modalRegister .body {
    flex: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.7rem;
    text-align: center;
}

.modalRegister .footer {
    flex: 20%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 1rem;
    flex-wrap: wrap;
}



.modalContainer .footer button {
    width: 10rem;
    height: 3rem;
    margin: 0.6rem;
    border: none;
    background-color: rgb(144, 36, 36);
    color:white;
    border-radius: 0.3rem;
    font-size: 1.2rem;
    cursor: pointer;   
}

.modalContainer .footer a {
    font-size: 0.8rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.modalLogin .footer p {
    font-size: 0.95rem;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-basis: 100%;
}

.openModal {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
    text-align: center;
}

.openModal h1{
    color: rgba(240, 255, 255, 0.885);
}


html {
    background-color: rgba(17, 17, 17, 0.953);
}