.test{
    color:rgba(78, 0, 204, 0.685);
  
}

body {     
    margin:0;
    padding: 0;
}
html {
    background-color: rgb(68, 68, 68);
}
.App{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.952);
}
/* ------------------------------- */
html{
    font-family: sans-serif;
}

#app {
    display: flex;
    margin: 2rem 1rem;
}

#chart {
    width: 50vw;
    height: 50vh;
    box-shadow: 0 6px 22px rgba(0, 0, 0, 0.53);
    padding: 1rem;
    background-color: rgba(255, 255, 255, 0.925);
}

#chart,
#data {
    margin: 0 2rem;
}

#data ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#data li {
    margin-bottom: 1rem;
    padding: 1rem;
    box-shadow: 0 2px 8px rgba(0, 0 ,0, 0.26);
    width: 10rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: bold;
    color: rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.925);
}
#data input {
   width: 1rem;
   height: 1rem;
}
.bar {
    fill: rgba(128, 105, 30, 0.932);
}

.label {
    fill: #4f009e;
}