.test{
    color:rgba(78, 0, 204, 0.685);
  
}

body {     
    margin:0;
    padding: 0;
}

html {
    background-color: rgba(226, 223, 223, 0.515);
}

.App{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.952);
}
/* ------------------------------- */
html{
    font-family: sans-serif;
}

.title {
    font-size: 10px;
}

#app {
    display: flex;
    margin: 2rem 1rem;
}

#chart {
    width: 30vw;
    height: 25vh;
    box-shadow: 0 16px 43px rgba(0, 0, 0, 0.53);
    padding: 1rem;
    background-color: rgb(80, 80, 80);
}

#chart,
#data {
    display: flex;
    align-content: flex-start;
    margin: 0 2rem;
    
}

#data {
    position: relative;
    
    top:40%;
}

#data ul {

    left: 0;
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
}

#data li {
    margin-bottom: 0.5rem;
    padding: 0.5rem;
    box-shadow: 0 10px 33px rgba(0, 0 ,0, 0.26);
    width: 2rem; 
    height: 2rem;
    align-content: center;
    font-weight: bold;
    color: rgb(83, 83, 83);
    background-color: rgba(255, 255, 255, 0.925);
    border-radius: 5%;
    border: thick double rgba(0, 0, 0, 0.083);
}
#data input {
   width: 1rem;
   height: 1rem;
   position:relative;
}

.bar {
    fill: rgba(136, 132, 160, 0.693);
}

.label {
    fill: #cdcdcd;
    font-size: 0.7rem;
}

.test{
    fill: rgba(86, 56, 255, 0.975);
    font-size: 2px;
    
    
}
